.idea
*.iml
*.log
/out
/target
xnat_test.log*
local.properties
*.DS_Store
src/test/resources/data/local_data_cache
src/test/resources/config/*.properties
!src/test/resources/config/dev.properties
src/test/resources/data/performance/*
!src/test/resources/data/performance/*.tex
!src/test/resources/data/performance/*.json
